<!DOCTYPE html>
<html>
  <head>
    <title>Sign In Page</title>
  </head>
  <body>
    <div>
      <h1>Sign In</h1>
      <form method="post" action="/">
        <input type="submit" value="Go to Home">
      </form>
      <form method="post" action="/signin">
        <input type="submit" value="Go to Sign In">
      </form>
      <form method="post" action="/newuser">
        <input name="username" type="text">
        <input type="submit" value="Submit Username">
      </form>
    </div>
  </body>
</html>
